<div class="my-8 md:mx-8 p-6 mdx:px-2 min-w-max max-w-sm shadow-md bg-white text-gray-800 grid gap-2 grid-cols-3 grid-rows-6">

    <div class="col-span-2 mdx:px-4">
        <p class="text-5xl font-bold">@room.Name</p>
        <p class="col-span-3 font-bold @statusTextColor">@statusText</p>
    </div>
    

    <div class="@statusColor text-center rounded-lg w-12 h-12 place-self-center grid place-items-center">
        @if (room.Global)
        {
           
            <p class="font-bold">G</p>
        }
        else
        {
            <p class="font-bold">I</p>
        }
    </div>

    <!--Floorplan-->
    <div class="col-span-3 row-span-3 w-72 h-72">
        <img src="@room.ImageUrl" alt="Floorplan of @room.Name"/>
    </div>
    
    <!--Temerature-->
    <div class="col-span-3 mdx:px-4 grid grid-cols-2 grid-rows-3">
        <p class="font-bold col-span-2">Temperatur</p>
        <p>Measured:</p> <p class="text-center">@room.Temper</p>
        <p>Target:</p> <p class="text-center">@room.TargetTemper</p>
    </div>

    <!--Humiditi-->
    <div class="col-span-3 mdx:px-4 grid grid-cols-2 grid-rows-3">
        <p class="font-bold col-span-2">Humidity</p>
        <p>Measured:</p> <p class="text-center">@room.Humid</p>
        <p>Target:</p> <p class="text-center">@room.TargetHumid</p>
    </div>
    
</div>

@code {
    [Parameter]
    public int RoomID { get; set; }

    [Inject]
    public IRoomService RoomServic { get; set; }

    private RoomDetail room = new RoomDetail();
    private String statusColor = "roomStatusUndefined";
    private String statusTextColor = "roomStatusTextUndefined";
    private String statusText = "Not Loaded";



    protected override async Task OnParametersSetAsync()
    {
        room = await RoomServic.GetRoom(RoomID);

        statusColor = RoomStatus.getRoomStateCSS(room.Status);
        statusTextColor = RoomStatus.getRoomStateTextCSS(room.Status);
        statusText = RoomStatus.getSimpelRoomStateText(room.Status);

    }
}
